<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.gallery.backend.mapper.ItemMapper">

    <!-- 여러 개의 아이템 ID로 조회 -->
    <select id="findByIdIn" resultType="com.example.gallery.backend.dto.Item">
        SELECT
            A.id
            ,A.name
            ,A.img_path
            ,A.price
            ,A.discount_per
            ,B.quantity
        FROM items as A
        JOIN carts as B
          ON A.id = B.item_id
        WHERE A.id IN
        <foreach item="id" collection="ids" open="(" close=")" separator=",">
            #{id}
        </foreach>
          AND B.member_id = #{memberId}
          AND A.status = 0
    </select>

    <!-- 모든 아이템 조회 -->
    <select id="findAll" resultType="com.example.gallery.backend.dto.Item">
        SELECT
            id
            ,name
            ,img_path
            ,price
            ,discount_per
            ,status
        FROM items
        ORDER BY id DESC
        LIMIT #{search.recordSize}
        OFFSET #{search.offset}
    </select>

    <!-- 여러 아이템 저장 -->
    <insert id="saveAll" parameterType="java.util.List">
        INSERT INTO items (name, price, img_path, discount_per, status)
        VALUES
        <foreach collection="items" item="item" separator=",">
            (#{item.name}, #{item.price}, #{item.imgPath} ,#{item.discountPer}, 0)
        </foreach>
    </insert>

    <!-- 아이템 아이디를 받아 아이템 조회 -->
    <select id="findItemById" resultType="com.example.gallery.backend.dto.Item">
        SELECT
            id
            ,name
            ,img_path
            ,price
            ,discount_per
            ,status
        FROM items
        WHERE id = #{itemId}
    </select>

    <!-- 아이템 변경 -->
    <update id="updateItem">
        UPDATE items
           SET
             name = #{name}
            ,img_path = #{imgPath}
            ,price = #{price}
            ,discount_per = #{discountPer}
            ,status = #{status}
         WHERE id = #{id}
    </update>

    <!-- 상품 수 카운팅 -->
    <select id="countItem" resultType="int">
        SELECT
            COUNT(*)
        FROM
            items
    </select>
</mapper>
