<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.gallery.backend.mapper.MemberMapper">

    <!-- 이메일로 회원 찾기 -->
    <select id="findByEmail" resultType="com.example.gallery.backend.dto.Member">
        SELECT *
        FROM members
        WHERE email = #{email}
          AND status = 0
    </select>

    <!-- 이메일 존재 여부 확인 -->
    <select id="existsMemberByEmail" resultType="boolean">
        SELECT CASE WHEN COUNT(*) > 0 THEN true ELSE false END
        FROM members
        WHERE email = #{email}
    </select>

    <!-- 회원 가입 -->
    <insert id="insert" parameterType="com.example.gallery.backend.dto.Member">
        INSERT INTO members (email, password)
        VALUES (#{email}, #{password})
    </insert>

    <!-- 비밀번호 변경 -->
    <update id="changePassword" parameterType="com.example.gallery.backend.dto.Member">
        UPDATE members
        SET password = #{password}
        WHERE id = #{id}
    </update>

    <!-- 아이디로 이메일 찾기 -->
    <select id="findEmailById" resultType="java.lang.String">
        SELECT email
        FROM members
        WHERE id = #{id}
    </select>

    <!-- 전체 회원 검색 -->
    <select id="findAllMember" resultType="com.example.gallery.backend.dto.Member">
        SELECT *
        FROM members
    </select>

    <!-- 회원정보 변경 -->
<!--    <update id="updateMembers">-->
<!--        <foreach collection="members" item="m" separator=";">-->
<!--            UPDATE members-->
<!--            SET-->
<!--                role = #{m.role}-->
<!--                ,status = #{m.status}-->
<!--            WHERE id = #{m.id}-->
<!--        </foreach>-->
<!--    </update>-->
    <update id="updateMember">
        UPDATE members
        SET
            role = #{role}
            ,status = #{status}
        WHERE id = #{id}
    </update>
</mapper>
