<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.gallery.backend.mapper.ReviewMapper">

    <!-- 상품 ID로 리뷰 리스트 가져오기 (최종수정일자 내림차순 정렬) -->
    <select id="findByItemIdOrderByUpdatedDateDesc" resultType="com.example.gallery.backend.dto.Review">
        SELECT
            r.*
            ,m.email
        FROM reviews as r
        JOIN members as m
          ON r.author_id = m.id
        WHERE r.item_id = #{itemId}
          AND r.status = 0
        ORDER BY updated_at DESC
    </select>

    <!-- 리뷰를 저장하는 insert 쿼리 -->
    <insert id="save" parameterType="com.example.gallery.backend.dto.Review">
        INSERT INTO reviews (author_id, content, rating, created_at, updated_at, item_id)
        VALUES (#{authorId}, #{content}, #{rating}, #{createdAt}, #{updatedAt}, #{itemId})
    </insert>

    <!-- 전체 리뷰 검색 -->
    <select id="findAllReview" resultType="com.example.gallery.backend.dto.Review">
        SELECT
            r.*
            ,m.email
        FROM reviews AS r
        JOIN members AS m
          ON r.author_id = m.id
        ORDER BY created_at DESC
    </select>

    <!-- 리뷰 활성화상태 변경 -->
    <update id="updateReview">
        UPDATE reviews
        SET
            status = #{status}
        WHERE review_id = #{reviewId}
    </update>

</mapper>
