html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* 화면 꽉 채우기 */
}

header {
    flex: 0 0 auto;
    /* Header 높이 예시 */
    height: 60px;
}

.content {
    flex: 1 1 auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
}

.btn-primary {
    background-color: #ee422d;
    border-color: #ee422d;
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
}

.btn-primary:hover {
    background-color: #c23523;
    border-color: #c23523;
}

footer {
    flex: 0 0 auto;
    /* Footer 높이 예시 */
    height: 115px;
}
